Theory Question (Data Types And Structure)

1.What are data structures, and why are they important.
- Data structure are specialsed for organising ,storing and
  accessing data element.
  eg- Assume assuming a container which holds data and
      determine how you can interact with it.

  Importance of Data Structure :
  a] simplicity in data manipulation
     eg- adding , removing , modifying
  b] Optimize searching and sorting operation
  c] conserve memory usage

2.Explain the difference between mutable and immutable data   
  types with examples?
- Mutable- It means data which can be changed .
  eg- list , string , set
  list1=[1,2,3,4,"shubham","true"]
  list1.append("shayam")
  o/p- [1,2,3,4,"shubham","true","shyam"]
  
  Immutable- Data which can not be modified or changed .
  eg- Tuple
  Tuple1=(1,2,3,4)
  Tuple1[0]=8// it will throws error, tuple object does not
  support item assignment .

3.What are the main differences between lists and tuples in
  Python3?
- The main difference between List and Tuples are-
  a) list can be appended
  b) Tuple can not be appended.
  d) Tuples are slightly faster to iterate than list.

4. Describe how dictionaries store data?.
-  Data are stored in the form of key-value pair
   eg- my_dict={'name':'ajay','age':40,'city':'patna'}
   my_dict['name']//accessing name
   my_dict['age']// accessing age
   my_dict['occupation']='student'
   //adding key-value pair
   my_dict['age']=41// modifying a value
   del my_dict['city']
   my_dict
   o/p- ['name':'ajay','age':30]

5. Why might you use a set instead of a list in Python?
-  a] unique element
      set have unique collection of data .
   b] Ease in membership testing due to unique collection of
      data.
   c] set support operation like union,intersection and   
      symmetic difference.
   d] sets are faster .
   e] sets uses Hash table for implementation

   List:
   a] ordered D/s
   b] duplicate values are allowed
   c] slower in membership testing
   d] No direct mathematical operations allowed.
   e] list uses dynamic array for implementation.

6. What is a string in Python, and how is it different from a
   list?
-  strings are immutable and ordered collection of data
   whereas list are mutable ordered collection of data.
   eg- my_string="hello"
       my_string[0]= 'H' // error - strings are immutable

       my_list=[1,2,3]
       my_list[0]=10 // allow modification
    
    b] strings are sequential collection of character but
       but list are heterogenous collection of data.
    eg- string1= 'abhijeet'
        list1=[1,2]
       
7. How do tuples ensure Data integrity in python?
-  tuples are immutable (unhashable). so they ensure data
   intergrity in python.
   in tuples we can not add, remove, the element of tuples
   once it is created. This property makes the tuples crucial in context to data intergrity.

   key aspects:
   Prevent accidental modification:
   if we pass a tuple to a funcation or write tuple with
   the code then it is ensured that there will be no any change made in the original tuple unintentionally.

8. What is a hash table, and how does it relate to
   dictionaries in Python?
-  A Hash table is data structure that implements an associative array for
   mapping of keys to values. This process is done with the help of Hash funcation and this funcation compute the index into array of bucket from which desired value is recovered. This hash funcation assigned unique hash code.
   The dictionary data structure is implemented using Hash table . It means that when a dictionary is created and add key value pair , internally hash funcation is used to determine where the value in memory need to stored corresponding to each keys.

9. Can lists contain different data types in Python?
-  yes, list can contain different data types in python
   because list are heterogenous.
   eg- my_list=[1,2,'rakesh',2.4,[1,2,3],True]

10.Explain why strings are immutable in Python.
-  Strings are immutable in python due to following reason
  - predictability and reliability
  - improved efficiency
  - performance optimization.
    immutability enables optimization such as faster hashing
    and dictionary lookup.
  - Data integrity-
    Immutability ensures strings data remains consistent through out the program preventing from data corruption.

11. What advantages do dictionaries offer over lists for   
    certain tasks?
-   Following points provide dictionaries edge over list

    - Fast Lookup (accessing Data by key)
      data retrieval speed in dictionary is high as compared
      to list . dictionaries implement hash table concept while data retrieval .
      eg- my_dict['key'] average time complexity is o(1) for each element. whereas average time complexity in list is 0(n). n= no of element in list.
    
    - Associative array-
      (mapping keys to value)
      dictionary store data in key-value pair. Specific key is labelled to particular piece of data value . list stored data in sequence and access element based on index position. Element in list are accessed through iterating the element in list .
    
    - No ordered gurantee- Dictionaries are unordered data    
      structure . The primary way of interacting element in dictionaries is via key..In list primary method for accessing element is done with the help of index.
12. Describe a scenario where using a tuple would be
    preferable over a list.
-   - Geographical coordinates(Latitude, Longitude)
    - A date :(year , month , day)
    - An RGB color value :Red Green Blue
    - A data base record header (ID, Name,email)
    eg- {(40.7128,-74.0060): 'new york City'}

13. How do sets handle duplicate values in Python.
-   my.set={1,1,1,2,2,2,3,3,3}
    my_set
    o/p- {1,2,3}// unique value displayed

14. How does the “in” keyword work differently for lists and
   dictionaries?
-  eg- my_list=[1,2,'apple',True]
        print(2 in my_list)
    
    True // 2 is present in the list.

        print(banana in my_list)

    False .

    student=['arun','ajay','bijay']
    marks=[80,90,100]
      {student:marksfor student,marks in zip(student,marks)}

      {'ajay':80,'bijay':20,'arun':100}
15. Can you modify the elements of a tuple? Explain why or
    why not.

-   No, we can not modify the element of tuple once created.

    eg- my_tuple=(10,'apple',True)
        my_tuple[0]= 20 // Error will be thrown: object does not support item assignment .

16.What is a nested dictionary, and give an example of its
   use case.

-  dictionary inside dictionary is called nested dictionary.

    eg- use case

        student_data={ 'student1':{'name':'subodh','age':30},

                      'student2':{'name':'roy','age':35}}

        print(student_data[student1]['name])
        print(student_data[student2]['age])
17.Describe the time complexity of accessing elements in a    
   dictionary.
-  my_student={'name':'ajay','age':30,'city':'patna}
   my_student['name']
   my_student['age']

   time complexitiy while accessing element in dictionary is
   0[1]. Means accessing time of each element in dictioanry my_student remains same due to key-value pairs. Each key of dictionary is assigned with hash code using hash table.Therefore , 0[1] time constant required for retrieval of each key using Hash code .

18.In what situations are lists preferred over dictionaries?

-  List preffered over dictionary over following points

  - when order of element is significant
  - To store duplicate element
  - Required to access element using index
  - when data is simple , sequential collection without   
    key-value pairs.

19. Why are dictionaries considered unordered, and how does
    that affect data retrieval?
-   eg-
    my_dict={'name':'roy','age':30,'city':'patna','mobile':1234}
    for key, value in my_dict.items:
     print(key,value)
    In above example, elements are accessed using key value pair.so if iterated we attained element in unordered pattern due to absence of index no .
    print(my_dict[0])// error will be raised stating dictionaries did not have integer value.

20. Explain the difference between a list and a dictionary in terms of data
    retrieval.
-   Data retrieval in List:
    my_list=[1,2,3,4,5,6]
    for i in range(len(my_list)):
        print(my_list[i],end=" ")

    Here data retrieval in list done based on index in ordered manner.

    Data retrieval in dictionary:

    My_dict={'name':'raj','age':30,'city':'patna')

    for key,value in my_dict.items():
    print(key,value).

In [ ]:
# 1)Write a code to create a string with your name and print it.

str_name ="abhijeet"
print(str_name)

abhijeet

In [ ]:
#2)Write a code to find the length of the string "Hello World".

str_len= "Hello World"
len(str_len)

11

In [ ]:
#3)Write a code to slice the first 3 characters from the string "Python Programming.

str_slice= "Python Programming"
str_slice[0:3]

'Pyt'

In [ ]:
#4)Write a code to convert the string "hello" to uppercase

str_upper="hello"
str_upper.upper()

'HELLO'

In [ ]:
#5)Write a code to replace the word "apple" with "orange" in the string "I like apple".

str1= "I Like apple"
str1.replace("apple","orange")

'I Like orange'

In [ ]:
#6)Write a code to create a list with numbers 1 to 5 and print it.

list1=[1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [ ]:
#7)Write a code to append the number 10 to the list [1, 2, 3, 4]P

list2=[1,2,3,4]
list2.append(10)
list2

[1, 2, 3, 4, 10]

In [ ]:
#8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list3=[1,2,3,4,5]
list3.remove(3)
list3

[1, 2, 4, 5]

In [ ]:
#9)Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list4=['a','b','c','d']
list4[1]

'b'

In [ ]:
#10) Write a code to reverse the list [10, 20, 30, 40, 50].

list5=[1,2,3,4,5]
list5.reverse() # list5[::-1]
list5
list5[::-1]
list5

[5, 4, 3, 2, 1]

In [ ]:
#11)Write a code to create a tuple with the elements 100, 200, 300 and print it

tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
#12)Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tuple2=('red','green','blue','yellow')

for i in tuple2:
  if i!="red":
    print(i,end=" ")

green blue yellow

In [ ]:
#13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple5= (10,20,5,15)
min_val=min(tuple5)
print(min_val)

5

In [ ]:
#14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple6=('dog','cat','rabbit')
print(f"index of cat is:{tuple6.index('cat')}")

index of cat is:1

In [ ]:
#15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple7=('apple','orange','banana','kiwi')
print("kiwi" in tuple7)

True

In [ ]:
#16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1={'a','b','c'}
print(set1,type(set1))

{'a', 'c', 'b'} <class 'set'>

In [ ]:
#17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set1={1,2,3,4,5}
set1.clear()
set1

set()

In [ ]:
#18)Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set2= {1,2,3,4,5}
set2.remove(4)
set2

{1, 2, 3, 5}

In [ ]:
#19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set3={1,2,3}
set4={3,4,5}
set3.union(set4)

{1, 2, 3, 4, 5}

In [ ]:
#20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set5={1,2,3}
set6={2,3,4}
set5.intersection(set6)

{2, 3}

In [ ]:
#21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict1={"name":"ajay","age":50,"city":"patna"}
dict1.keys()

dict_keys(['name', 'age', 'city'])

In [ ]:
#22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict2={"name":"john","age":25}
dict2["country"]="USA"
dict2

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
#23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.


dict3={'name':"Alice","age":30}
dict3["name"]

'Alice'

In [ ]:
#24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

dict4={'name':'Bob','age':22,'city':'New York'}
dict4.pop("age")
dict4

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict5={'name':'Alice','city':'Paris'}
'city' in dict5

True

In [ ]:
#26)Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

# Create a list

my_list = [1, 2, 3, "apple", False]

# Create a tuple
my_tuple = (10, 20, 30, "banana", True)

# Create a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Print all three
print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dict)

My List: [1, 2, 3, 'apple', False]
My Tuple: (10, 20, 30, 'banana', True)
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
#27Write a code to create a list, a tuple, and a dictionary, and print them all

# write a code to create a list 5 random numbers between 1 to 100 ,sort it in ascending order and print the result
import random
random_list = [random.randint(1, 100) for _ in range(5)]

random_list.sort()
print(random_list)
print("reverse list:", random_list[::-1])

[49, 65, 69, 83, 94]
reverse list: [94, 83, 69, 65, 49]

In [ ]:
#28) Write a code to create a list with strings and print the element at the third index.

list6=[1,2,3,"ABHIJEET"]
list6[3]

'ABHIJEET'

In [ ]:
#29)Write a code to combine two dictionaries into one and print the result.
dict6={'name':'rahul','age':50,}
dict7={'city':'patna','occupation':'engineer'}
combine_dict={**dict6,**dict7}
print(combine_dict)

{'name': 'rahul', 'age': 50, 'city': 'patna', 'occupation': 'engineer'}

In [ ]:
#30)Write a code to convert a list of strings into a set.

list7=['a','b','c','e','f']
set7=set(list7)
print(set7, type(set7))

{'b', 'f', 'a', 'e', 'c'} <class 'set'>